networks:
  nativex-net:
    external: true
  app-network:
    driver: bridge

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepassword
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 3

  redis:
    image: redis:alpine
    restart: always
    command: redis-server --appendonly yes --requirepass securepassword
    volumes:
      - redisdata:/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "securepassword", "ping"]
      interval: 5s
      timeout: 5s
      retries: 3

  chroma:
    image: chromadb/chroma:latest
    restart: always
    volumes:
      - chroma_data:/chroma/chroma
    environment:
      - CHROMA_SERVER_CORS_ALLOW_ORIGINS=["*"]
      - IS_PERSISTENT=TRUE
    networks:
      - app-network

  backend:
    image: rishik92/pmos-backend:latest
    networks:
      - nativex-net
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pmos-backend.rule=Host(`backend.pmos.rishik.codes`)"
      - "traefik.http.routers.pmos-backend.entrypoints=websecure"
      - "traefik.http.routers.pmos-backend.tls.certresolver=myresolver"
      - "traefik.http.services.pmos-backend.loadbalancer.server.port=8000"
      - "traefik.docker.network=nativex-net"
    restart: always
    env_file:
      - ./.env.backend
    environment:
      - DATABASE_URL=postgresql://admin:securepassword@db:5432/mydb
      - REDIS_URL=redis://:securepassword@redis:6379/0
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=securepassword
      - CHROMA_HOST=chroma
      - CHROMA_PORT=8000
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      chroma:
        condition: service_started

  worker:
    image: rishik92/pmos-worker:latest
    restart: always
    volumes:
      - ./serviceAccountKey.json:/root/serviceAccountKey.json
    env_file:
      - ./.env.worker
    environment:
      - DATABASE_URL=postgresql://admin:securepassword@db:5432/mydb
      - REDIS_URL=redis://:securepassword@redis:6379/0
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=securepassword
    depends_on:
      - backend
      - redis
      - db
    networks:
      - app-network

volumes:
  pgdata:
  redisdata:
  chroma_data:
