name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - "worker/**"
      - "docker-compose.prod.yml"
      - ".github/workflows/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{secrets.DOCKERHUB_USERNAME}}/pmos-backend:latest

      - name: Build and push worker
        uses: docker/build-push-action@v5
        with:
          context: ./worker
          push: true
          tags: ${{secrets.DOCKERHUB_USERNAME}}/pmos-worker:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy Docker Compose to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: root
          key: ${{ secrets.DROPLET_SSH_KEY }}
          source: "./docker-compose.prod.yml"
          target: "/opt/pmos/"

      - name: Deploy to DigitalOcean
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: root
          key: ${{ secrets.DROPLET_SSH_KEY }}
          script: |
            set -e

            echo "Starting Deployment..."
            cd /opt/pmos

            mv docker-compose.prod.yml docker-compose.yml

            docker compose pull

            docker compose up -d --remove-orphans

            docker image prune -f
            echo "Deployment Complete!"
